

h1{
    font-size:250%;
    color: black;
}
h2 {
    margin-top: 1%;
    margin-bottom: 0.5%;
    font-size:200%;
    color: Peru;
}

div ul{
    list-style: inside;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
div.receipContent li{
    font-weight:bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    float:none;
}
p{
    padding-top: 1%;
    color:black;
    font-size:90%;
}
#bold{
    font-weight:bold;
}
ol{
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}


img {
    float:right;
    max-width: 50%;
    max-height: 60%;
    border-radius: 50%;
}
